In [8]:
import pandas as pd
from scipy import stats


def find_all(series):
    maximum = max(series.tolist())
    return list(series[series.where(series == maximum).notna()].index)


def compare(ser1, ser2):
    df = ser1.reset_index(drop = True).compare(ser2.reset_index(drop = True))
    df = df.reset_index(drop = True)
    res1, res2 = 0, 0
    for i in range(len(df)):
        if df.loc[i]['self'] > df.loc[i]['other']:
            res1 += 1
        elif df.loc[i]['self'] < df.loc[i]['other']:
            res2 += 1
    if res1>res2:
        return 0
    elif res1<res2:
        return 1
    else:
        return -1
        
#     max1, max2 = ser1.max(), ser2.max()
#     if max1 > max2:
#         return ser1
#     elif max1 < max2:
#         return li2
#     elif li1.count(max1) > li2.count(max2):
#         return li1
#     elif li1.count(max1) < li2.count(max2):
#         return li2
#     else:
#         return (li1, li2)


col = ['R1','R2','R3','R4','R5','R6','R7','R8',
       'I1','I2','I3','I4','I5','I6','I7','I8',
       'A1','A2','A3','A4','A5','A6','A7','A8',
       'S1','S2','S3','S4','S5','S6','S7','S8',
       'E1','E2','E3','E4','E5','E6','E7','E8',
       'C1','C2','C3','C4','C5','C6','C7','C8',
       'TIPI1','TIPI2','TIPI3','TIPI4','TIPI5',
       'TIPI6','TIPI7','TIPI8','TIPI9','TIPI10']

dict_of_letters = {'R': ['R1','R2','R3','R4','R5','R6','R7','R8'],
                  'I': ['I1','I2','I3','I4','I5','I6','I7','I8'],
                  'A': ['A1','A2','A3','A4','A5','A6','A7','A8'],
                  'S': ['S1','S2','S3','S4','S5','S6','S7','S8'],
                  'E': ['E1','E2','E3','E4','E5','E6','E7','E8'],
                  'C': ['C1','C2','C3','C4','C5','C6','C7','C8']}

df = pd.read_csv('C:/Users/tema2/PycharmProjects/pythonProject/venv/data.csv', sep = '\t', usecols=col)

'''All lines without 0. Columns R1 - C8 can be rated 1 to 5, columns TIPI1 - TIPI10 - 1 to 7(so 0 has no useful information)'''
filter_df = df.loc[(df!=0).all(axis = 1)]
filter_df = filter_df.reset_index(drop=True)
'''Filter by R1 - C8 columns'''
R1_C8_df = filter_df.loc[:, col[:-10]] 

for key in dict_of_letters:
    R1_C8_df[key] = filter_df[dict_of_letters[key]].sum(axis = 1)

RIASEC_df = R1_C8_df[['R', 'I', 'A', 'S', 'E', 'C']]
TIPI_df = filter_df.loc[:, col[48:]]
TIPI_df.corr(method = 'spearman')

# maximums = []
# c = 0

# for i in range(len(RIASEC_df)):
#     list_max = find_all(RIASEC_df.loc[i])
#     if len(list_max) == 1:
#         maximums.append(list_max[0])
#     elif len(list_max) == 2:
#         num = compare(filter_df.loc[i, dict_of_letters[list_max[0]]], filter_df.loc[i, dict_of_letters[list_max[1]]])
#         if num == -1:
#             c += 1
# print(c)
# # compare(filter_df.loc[134043, ['A1','A2','A3','A4','A5','A6','A7','A8']], filter_df.loc[134043, ['S1','S2','S3','S4','S5','S6','S7','S8']])

,TIPI1,TIPI2,TIPI3,TIPI4,TIPI5,TIPI6,TIPI7,TIPI8,TIPI9,TIPI10
TIPI1,1.000000,0.058256,0.160289,-0.166765,0.282167,-0.533684,0.211441,-0.094968,0.142543,-0.151915
TIPI2,0.058256,1.000000,-0.047843,0.205728,-0.006399,-0.041576,-0.213360,0.108813,-0.179054,0.045830
TIPI3,0.160289,-0.047843,1.000000,-0.155900,0.134032,0.014585,0.158215,-0.446161,0.313266,-0.039590
TIPI4,-0.166765,0.205728,-0.155900,1.000000,-0.147364,0.161412,0.011851,0.198806,-0.500216,0.076891
TIPI5,0.282167,-0.006399,0.134032,-0.147364,1.000000,-0.129681,0.150556,-0.017461,0.160959,-0.256041
TIPI6,-0.533684,-0.041576,0.014585,0.161412,-0.129681,1.000000,0.000879,0.031957,0.035882,0.119830
TIPI7,0.211441,-0.213360,0.158215,0.011851,0.150556,0.000879,1.000000,-0.099800,0.144230,-0.116278
TIPI8,-0.094968,0.108813,-0.446161,0.198806,-0.017461,0.031957,-0.099800,1.000000,-0.245318,0.080192
TIPI9,0.142543,-0.179054,0.313266,-0.500216,0.160959,0.035882,0.144230,-0.245318,1.000000,-0.021815
TIPI10,-0.151915,0.045830,-0.039590,0.076891,-0.256041,0.119830,-0.116278,0.080192,-0.021815,1.000000

In [1]:
TIPI_df = filter_df[33:]

NameError: name 'filter_df' is not defined

In [63]:
filter_df.loc[134043, ['A1','A2','A3','A4','A5','A6','A7','A8']].reset_index(drop=True)

0    2
1    4
2    4
3    4
4    3
5    4
6    3
7    4
Name: 134043, dtype: int64

In [65]:
filter_df.loc[134043, ['S1','S2','S3','S4','S5','S6','S7','S8']].reset_index(drop=True)

0    4
1    4
2    3
3    4
4    4
5    4
6    4
7    1
Name: 134043, dtype: int64

In [64]:
filter_df.loc[134043, ['A1','A2','A3','A4','A5','A6','A7','A8']].reset_index(drop=True).compare(filter_df.loc[134043, ['S1','S2','S3','S4','S5','S6','S7','S8']].reset_index(drop=True))

   self  other
0   2.0    4.0
2   4.0    3.0
4   3.0    4.0
6   3.0    4.0
7   4.0    1.0